/* Logo Konteyneri */
.logo-konteyner {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100px; /* Logo boyutunu ayarlamak için */
    height: auto;
}


/* Genel ayarlar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Konteyner */
.menu-konteyner {
    width: 1024px;
    margin: 0 auto; /* Ortalamak için */
    background-color: #114060;
}

/* Menü */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    width: 20%; /* 5 menü için eşit genişlik */
    text-align: center;
}

.menu a {
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #bcbec0;
}

/* Float clear */
.temizleyici::after {
    content: "";
    display: table;
    clear: both;
}

/* Slider Animasyonu */
@keyframes sliderAnimasyonu {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(-1024px); }
    66.66% { transform: translateX(-2048px); }
    100% { transform: translateX(0); }
}

/* Slider Galeri Konteyneri */
.slidergaleri {
    width: 1024px;
    margin: 20px auto;
    overflow: hidden;
}

/* Slider Show (Slider Görselleri) */
.slidershow {
    display: flex;
    animation: sliderAnimasyonu 9s infinite;
}

/* Slider görselleri */
.slidershow img {
    width: 1024px; /* Her bir görselin genişliği */
    height: 550px;
    object-fit: cover; /* Görsellerin düzgün şekilde görünmesini sağlar */
}

/* Resim Kutuları */
.resim-kutusu-konteyneri {
    width: 1024px;
    margin: 20px auto;
    overflow: hidden;
}

.resim-kutusu {
    float: left;
    width: 48%; /* 2 kutu yan yana için genişlik */
    margin: 1%;
    text-align: center;
}

.resim-kutusu a {
    display: block;
    border: 2px solid #ccc;
    padding: 5px;
    text-decoration: none;
}

.resim-kutusu a:hover {
    border-color: #231f20;
}

.resim-kutusu img {
    width: 100%;
    height: auto;
}

/* Yazı Alanı */
.yazi-konteyneri {
    width: 990px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font-size: 16px;
}

.yazi-konteyneri h2 {
    font-size: 24px;
    color: #333;
}

.yazi-konteyneri p {
    line-height: 1.6;
    color: #555;
}

.yazi-konteyneri b {
    font-weight: bold;
}

.yazi-konteyneri i {
    font-style: italic;
}

.yazi-konteyneri u {
    text-decoration: underline;
}

/* Footer */
.alt-bilgi {
    width: 990px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e6e7e8;
    color: black;
    text-align: center;
    font-size: 14px;
}

.alt-bilgi a {
    color: #00bfff;
    text-decoration: none;
}

.alt-bilgi a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .menu li {
        width: 100%;
        text-align: left;
    }
}
