/* Logo Konteyneri */
.logo-konteyner {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100px; /* Logo boyutunu ayarlamak için */
    height: auto;
}

/* Genel ayarlar */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        /* Konteyner */
        .menu-konteyner {
            width: 1024px;
            margin: 0 auto; /* Ortalamak için */
            background-color: #114060;
        }

        /* Menü */
        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .menu li {
            float: left;
            width: 20%; /* 5 menü için eşit genişlik */
            text-align: center;
        }

        .menu a {
            display: block;
            padding: 15px 0;
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        .menu a:hover {
            background-color: #bcbec0;
        }

        /* Float clear */
        .temizleyici::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Resim Kutuları */
        .resim-kutusu-konteyneri {
            width: 1024px;
            margin: 20px auto;
            overflow: hidden;
        }

        .resim-kutusu {
            float: left;
            width: 48%; /* 2 kutu yan yana için genişlik */
            margin: 1%;
            text-align: center;
        }

        .resim-kutusu a {
            display: block;
            border: 5px solid #ccc;
            padding: 9px;
            text-decoration: none;
        }

        .resim-kutusu a:hover {
            border-color: #575757;
        }

        .resim-kutusu img {
            width: 100%;
            height: 600px; /* Yüksekliği 700px olarak ayarladık */
            object-fit: cover; /* Resim oranını bozmadan kutuya sığdırmak için */
        }

        /* Footer */
        .alt-bilgi {
            width: 990px;
            margin: 20px auto;
            padding: 15px;
            background-color: #e6e7e8;
            color: black;
            text-align: center;
            font-size: 14px;
        }

        .alt-bilgi a {
            color: #00bfff;
            text-decoration: none;
        }

        .alt-bilgi a:hover {
            text-decoration: underline;
        }